In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns 
import matplotlib as mpl
from matplotlib.colors import LinearSegmentedColormap

In [18]:
url = 'https://raw.githubusercontent.com/ttran293/Vietnam-Happiness-Score/main/world-happiness-report.csv'
url2= 'https://raw.githubusercontent.com/ttran293/Vietnam-Happiness-Score/main/world-happiness-report-2021.csv'
data = pd.read_csv(url)
data_2021 = pd.read_csv(url2)
print(data_2021)

    Country name  ... Dystopia + residual
0        Finland  ...               3.253
1        Denmark  ...               2.868
2    Switzerland  ...               2.839
3        Iceland  ...               2.967
4    Netherlands  ...               2.798
..           ...  ...                 ...
144      Lesotho  ...               1.800
145     Botswana  ...               0.648
146       Rwanda  ...               1.095
147     Zimbabwe  ...               1.205
148  Afghanistan  ...               1.895

[149 rows x 20 columns]

In [19]:
pd.set_option('display.max_rows', None)
data_2021.head()

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798

[5 rows x 20 columns]

In [23]:
data_2021.shape

(149, 20)

In [24]:
data_2021.describe()

       Ladder score  ...  Dystopia + residual
count    149.000000  ...           149.000000
mean       5.532839  ...             2.430329
std        1.073924  ...             0.537645
min        2.523000  ...             0.648000
25%        4.852000  ...             2.138000
50%        5.534000  ...             2.509000
75%        6.255000  ...             2.794000
max        7.842000  ...             3.482000

[8 rows x 18 columns]

In [25]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB